!!!
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Picoearth
    %link(rel="stylesheet" href="assets/css/font-awesome.min.css")
    %link(rel="stylesheet" href="assets/css/foundation.css")
    %link(rel="stylesheet" href="assets/css/Icon-font-7-filled-PIXEDEN-v-1.2.0/pe-icon-7-filled/css/pe-icon-7-filled.css")
    %link(href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css')    
    %script(src="assets/js/vendor/modernizr.js")

  %body
    
    #top-nav
    .row

      .large-4.columns(data-equalizer-watch)

        .panel
          / Earth stats

          %h2 
            Earth
            %span#year 1000

          %h3.right#earth-danger-level
          - eartStats = {"water" => ["Water", "pe-7f-drop"],
                    "plants" => ["Plants", "pe-7f-leaf"],
                    "animals" => ["Animals", ""],
                    "trees" => ["Trees", ""]}
          - eartStats.each do |stat, name_icon|
            - name = name_icon[0]
            - icon = name_icon[1]
            %div
              #{name}:
              %span(id="#{stat}") 
                0
              %i.fa(class="#{icon}")
              %span(id="#{stat}-rate" style="font-size: 11px")

        / Earth image
        %img(src="assets/img/seasonal_earth.gif")

        / Graph area
        %ul#graph-accordion.accordion(data-accordion)
          %li.accordion-navigation
            %a#graph-banner(href="#graph-area") 
              Graph
              %i.fa.fa-arrow-up.right

            #graph-area.content.active
              
        / Log area
        %ul#log-accordion.accordion(data-accordion)
          %li.accordion-navigation
            %a#log-banner(href="#log") 
              Log
              %i.fa.fa-arrow-up.right
            %textarea#log.content.active(readonly rows="8")

      .large-4.columns.full-height
        
        / User interaction area

        .row
          .large-4.columns
            %button.alert.round
              %i.fa.fa-refresh
              %span.reset-game Reset

          .large-4.right.columns
            %button.success.round#forward-button
              %i.fa.fa-forward
              %span#game-speed-label

        .row
          .large-12.columns
            %button#mate-button
              %i.fa.fa-venus-mars
              Make babies!

        / Alert box area
        #alert-area

        #tech-treefull-height
          / Technology tree
          #ancient-age.panel.tech-age
                      
            .large-font.white Ancient Age

            .row
              .push-1.progress.small-10.radius.round
                %span.left#worker-percent
                %span#worker-meter.meter(style="width:100%;")
                %span.small-2.right#idle-percent

      .large-4.columns.full-height(data-equalizer-watch)

        .panel
          / Human stats

          %h2 Human stats
          %h3.right#human-danger-level

          - humanStats = {"population" => ["Population", "male"],
                    "birthrate" => ["Annual birth rate", ""],
                    "deathrate" => ["Annual death rate", ""]}
          - humanStats.each do |stat, name_icon|
            - name = name_icon[0]
            - icon = name_icon[1]
            %div
              #{name}:
              %span(id="#{stat}") 
                0
              %i.fa(class="fa-#{icon}")
              %span(id="#{stat}-rate" style="font-size: 11px")

          / Health
          #health
            %span.has-tip(data-tooltip aria-haspopup="true" title="humans need more food, clothes, houses!") Health:
            %span.label.round.radius.lvl-label-black Dying
            %span.label.round.radius.lvl-label-red Sick
            %span.label.round.radius.lvl-label-yellow Okay
            %span.label.round.radius.lvl-label-green.active Execellent


          / Inspiration
          #inspiration
            %span.has-tip(data-tooltip aria-haspopup="true" title="don't work too much or too little") Inspiration:
            %span.label.round.radius.lvl-label-black Lost soul
            %span.label.round.radius.lvl-label-red Exhausted
            %span.label.round.radius.lvl-label-yellow Bored
            %span.label.round.radius.lvl-label-green.active Pumped

          / Happiness
          #happiness
            %span.has-tip(data-tooltip aria-haspopup="true" title="humans cry over deaths, and cheer over births") Happiness:
            %span.label.round.radius.lvl-label-black Devastated
            %span.label.round.radius.lvl-label-red Sad
            %span.label.round.radius.lvl-label-yellow Indifferent
            %span.label.round.radius.lvl-label-green.active Cheerful

          / Animosity
          #animosity
            %span.has-tip(data-tooltip aria-haspopup="true" title="When animosity reached its maximum, there will be WARS!")
              Animosity:
            .progress.alert.radius.round(style="height:15px;")
              %span#animosity-meter.meter(style="width:10%;")

          / Knowledge
          #knowledge
            %span.has-tip(data-tooltip aria-haspopup="true" title="Knowledge is required to advance to the next age") 
              Knowledge:
            .progress.success.radius.round(style="height:15px;")
              %span#knowledge-meter.meter(style="width:10%;")


        .panel

          / Human resources

          %h2 Human resources
          %span#human-resource-area

          - humanResources = {"food" => ["Food", ""],
                    "wood" => ["Wood", ""],
                    "tools" => ["Tools", ""],
                    "clothes" => ["Clothes", ""],
                    "houses" => ["Houses", ""]}
          - humanResources.each do |resource, name_icon|
            - name = name_icon[0]
            - icon = name_icon[1]
            %div
              #{name}:
              %span(id="#{resource}") 
                0
              %i.fa(class="fa-#{icon}")
              %span(id="#{resource}-rate" style="font-size: 11px")
      

    / Game over modal
    #modal-gameover.reveal-modal(data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      %h1(style="text-align: center;") You destroyed Earth. Game over.
      %button.alert.round.push-5
        %i.fa.fa-refresh
        %span.reset-game Reset

    / Overload workers
    #modal-generic.reveal-modal(data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      %h1#modal-generic-title(style="text-align: center;")
      %p#modal-generic-message

    /
    / Load scripts
    /
    %link(rel="stylesheet" href="assets/css/picoearth.css")
    %script(src="assets/js/vendor/jquery.js")
    %script(src="assets/js/vendor/jquery-ui-1.11.3/jquery-ui.min.js")
    %script(src="assets/js/foundation.min.js")
    %script(src="assets/js/Chart.min.js")
    %script(src="assets/js/events.js")
    %script(src="assets/js/techtree.js")
    %script(src="assets/js/picoearth.js")
    %script
      $(document).foundation();
