!!!
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Picoearth
    %link(rel="stylesheet" href="assets/css/font-awesome.min.css")
    %link(rel="stylesheet" href="assets/css/foundation.css")
    %link(rel="stylesheet" href="assets/css/Icon-font-7-filled-PIXEDEN-v-1.2.0/pe-icon-7-filled/css/pe-icon-7-filled.css")
    %link(href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css')    
    %script(src="assets/js/vendor/modernizr.js")

  %body
    
    #top-nav
    .row

      .large-4.columns(data-equalizer-watch)

        .panel
          / Earth stats

          %h2
            %i.fa.fa-globe.fa-3x.right
            Earth
            %span#year 1000

          - eartStats = {"water" => ["Water", "pe-7f-drop"],
                    "plants" => ["Plants", "fa-leaf"],
                    "animals" => ["Animals", "fa-paw"],
                    "trees" => ["Trees", "fa-tree"]}
          - eartStats.each do |stat, name_icon|
            - name = name_icon[0]
            - icon = name_icon[1]
            %div
              #{name}:
              %span(id="#{stat}") 
                0
              %i.fa(class="#{icon}")
              %span(id="#{stat}-rate" style="font-size: 11px")


        / Earth image
        %img(src="assets/img/seasonal_earth.gif")

        / Graph area
        %ul#graph-accordion.accordion(data-accordion)
          %li.accordion-navigation
            %a#graph-banner(href="#graph-area") 
              %i.fa.fa-line-chart
              Graph
              %i.fa.fa-arrow-up.right

            #graph-area.content.active
              
        / Log area
        %ul#log-accordion.accordion(data-accordion)
          %li.accordion-navigation
            %a#log-banner(href="#log") 
              Log
              %i.fa.fa-arrow-up.right
            %textarea#log.content.active(readonly rows="8")

      .large-4.columns.full-height
        
        / User interaction area

        .row
          .large-4.columns
            %button.alert.round
              %i.fa.fa-refresh
              %span.reset-game Reset

          .large-4.right.columns
            %button.success.round#forward-button
              %i.fa.fa-forward
              %span#game-speed-label

        .row
          .large-12.columns
            %button#mate-button
              %i.fa.fa-venus-mars
              Make babies!

        / Alert box area
        #alert-area

        #tech-treefull-height
          / Technology tree
          #ancient-age.panel.tech-age
                      
            .large-font.white Ancient Age

            .row
              .push-1.progress.small-10.radius.round
                %span.left#worker-percent
                %span#worker-meter.meter(style="width:100%;")
                %span.small-2.right#idle-percent

      .large-4.columns.full-height(data-equalizer-watch)

        .panel
          / Human stats

          %h2 
            %i.fa.fa-institution.fa-2x.right
            Human

          - humanStats = {"population" => ["Population", "male"],
                    "birthrate" => ["Annual birth rate", ""],
                    "deathrate" => ["Annual death rate", ""]}
          - humanStats.each do |stat, name_icon|
            - name = name_icon[0]
            - icon = name_icon[1]
            %div
              #{name}:
              %span(id="#{stat}") 
                0
              %i.fa(class="fa-#{icon}")
              %span(id="#{stat}-rate" style="font-size: 11px")

          %table
            %thead
              %tr
                %th
                %th(colspan=2) More animosity and deaths
                %th(colspan=2) More peace and births
            %tbody

              / Health

              %tr#health
                %td 
                  %span.has-tip(data-tooltip aria-haspopup="true" title="humans need more food, clothes, houses!") Health:

                %td 
                  %span.label.round.radius.lvl-label-black Dying
                %td 
                  %span.label.round.radius.lvl-label-red Sick
                %td 
                  %span.label.round.radius.lvl-label-yellow Okay
                %td 
                  %span.label.round.radius.lvl-label-green.active Execellent

              %tr
                %td
                %td 
                  > 20
                  %span.has-tip(data-tooltip aria-haspopup="true" title="person")
                    %i.fa.fa-male
                  per
                  %span.has-tip(data-tooltip aria-haspopup="true" title="food")
                    %i.fa.fa-cutlery
                  or 
                  %span.has-tip(data-tooltip aria-haspopup="true" title="clothe")
                    %i.pe-7f-scissors
                  or
                  %span.has-tip(data-tooltip aria-haspopup="true" title="house")
                    %i.fa.fa-home

                %td
                  20 - 10
                  %span.has-tip(data-tooltip aria-haspopup="true" title="person")
                    %i.fa.fa-male
                  per
                  %span.has-tip(data-tooltip aria-haspopup="true" title="food")
                    %i.fa.fa-cutlery
                  or 
                  %span.has-tip(data-tooltip aria-haspopup="true" title="clothe")
                    %i.pe-7f-scissors
                  or
                  %span.has-tip(data-tooltip aria-haspopup="true" title="house")
                    %i.fa.fa-home

                %td
                  10 - 5
                  %span.has-tip(data-tooltip aria-haspopup="true" title="person")
                    %i.fa.fa-male
                  per
                  %span.has-tip(data-tooltip aria-haspopup="true" title="food")
                    %i.fa.fa-cutlery
                  or 
                  %span.has-tip(data-tooltip aria-haspopup="true" title="clothe")
                    %i.pe-7f-scissors
                  or
                  %span.has-tip(data-tooltip aria-haspopup="true" title="house")
                    %i.fa.fa-home

                %td
                  < 5
                  %span.has-tip(data-tooltip aria-haspopup="true" title="person")
                    %i.fa.fa-male
                  per
                  %span.has-tip(data-tooltip aria-haspopup="true" title="food")
                    %i.fa.fa-cutlery
                  or 
                  %span.has-tip(data-tooltip aria-haspopup="true" title="clothe")
                    %i.pe-7f-scissors
                  or
                  %span.has-tip(data-tooltip aria-haspopup="true" title="house")
                    %i.fa.fa-home

              / Inspiration
    
              %tr#inspiration
                %td
                  %span.has-tip(data-tooltip aria-haspopup="true" title="don't work too much or too little") Inspiration:

                %td
                  %span.label.round.radius.lvl-label-black Lost soul
                %td
                  %span.label.round.radius.lvl-label-red Exhausted
                %td
                  %span.label.round.radius.lvl-label-yellow Bored
                %td
                  %span.label.round.radius.lvl-label-green.active Pumped

              %tr
                %td
                %td
                  Working % < 30
                %td
                  Working % > 90
                %td
                  Working % 30 - 70
                %td
                  Working % 70 - 90

              / Happiness
    
              %tr#happiness
                %td
                  %span.has-tip(data-tooltip aria-haspopup="true" title="humans cry over deaths, and cheer over births") Happiness:
                %td
                  %span.label.round.radius.lvl-label-black Devastated
                %td
                  %span.label.round.radius.lvl-label-red Sad
                %td
                  %span.label.round.radius.lvl-label-yellow Indifferent
                %td
                  %span.label.round.radius.lvl-label-green.active Cheerful

              %tr
                %td
                %td
                  CBR - CDR < -5
                %td
                  CBR - CDR = -5 to -2
                %td
                  CBR - CDR = -2 to 3
                %td
                  CBR - CDR > 3

          / Animosity
          #animosity
            %span.has-tip(data-tooltip aria-haspopup="true" title="When animosity reached its maximum, there will be WARS!")
              Animosity:
            .progress.alert.radius.round(style="height:15px;")
              %span#animosity-meter.meter(style="width:0%;")

          / Knowledge
          #knowledge
            %span.has-tip(data-tooltip aria-haspopup="true" title="Knowledge is required to advance to the next age") 
              Knowledge:
            .progress.success.radius.round(style="height:15px;")
              %span#knowledge-meter.meter(style="width:0%;")


        .panel

          / Human resources

          %h3 
            Production
          %span#human-resource-area

          - humanResources = {"food" => ["Food", "fa-cutlery"],
                    "wood" => ["Wood", ""],
                    "tools" => ["Tools", "fa-wrench"],
                    "clothes" => ["Clothes", "pe-7f-scissors"],
                    "houses" => ["Houses", "fa-home"]}
          - humanResources.each do |resource, name_icon|
            - name = name_icon[0]
            - icon = name_icon[1]
            %div
              #{name}:
              %span(id="#{resource}") 
                0
              %i.fa(class="#{icon}")
              %span(id="#{resource}-rate" style="font-size: 11px")
      

    / Game over modal
    #modal-gameover.reveal-modal(data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      %h1(style="text-align: center;") You destroyed Earth. Game over.
      %button.alert.round.push-5
        %i.fa.fa-refresh
        %span.reset-game Reset

    / Overload workers
    #modal-generic.reveal-modal(data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      %h1#modal-generic-title(style="text-align: center;")
      %p#modal-generic-message

    /
    / Load scripts
    /
    %link(rel="stylesheet" href="assets/css/picoearth.css")
    %script(src="assets/js/vendor/jquery.js")
    %script(src="assets/js/vendor/jquery-ui-1.11.3/jquery-ui.min.js")
    %script(src="assets/js/foundation.min.js")
    %script(src="assets/js/Chart.min.js")
    %script(src="assets/js/events.js")
    %script(src="assets/js/techtree.js")
    %script(src="assets/js/picoearth.js")
    %script
      $(document).foundation();
